@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 400px) {
  .last-added-comment {
    position: relative;
    width: 200px;
  }

  .line {
    border: 0.5px solid brown;
    width: 200px;
    position: relative;
  }
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 690px) {
  .flex-container {
    //margin-top: 100px;
  }
}

.wrapper-most-recent {
  margin-bottom: 30px;

  * {
    font-family: "Poppins", sans-serif;
    color: brown;
  }

  .last-added-comment {
    border: 2px solid brown;
    background: white;
    padding: 15px;
    border-radius: 5px;
    justify-content: center;
    position: relative;
    width: 350px;
    margin: auto;
    display: grid;
    align-items: center;

    p {
      margin-bottom: 15px;
      font-size: 12px;
    }

    .review-date {
      float: right;
      font-weight: bold;
    }

  }

  .line {
    border: 0.5px solid brown;
    width: 350px;
    position: relative;
  }

  @media (max-width: 400px) {
    .last-added-comment {
      width: 300px;
    }
    .line {
      width: 250px;
    }
  }

  @media (max-width: 365px) {
    .last-added-comment {
      width: 285px;
    }
    .line {
      width: 250px;
    }
  }
}

.vendor {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: bold;
  margin: 5px;
  background-color: brown;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
}

.wrapper {
  //display: grid;
  //grid-template-columns: repeat(3, [col-start] fit-content(200px) [col-end]);
  //gap: 10px;
  display: flex;
  flex-wrap: wrap;
}

h2 {
  color: brown;
  font-size: 14px;
}

hr {
  border: 0.5px solid brown;
}

.list-wrapper {
  margin: 0 auto
}

.list-contacts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
