<div class="center">
  <div class="flex-container">

    <app-app-filter
      [listOfProducts]="productList"
      [isCheckBoxChecked]="checkBoxState"
      (filteredList)="filteredProductList($event)">
    </app-app-filter>

    <app-app-filter-options (isCheckedCheckbox)="pushFurtherCheckBoxState($event)">
    </app-app-filter-options>

  </div>
</div>

<div class="wrapper-most-recent">
  <div class="last-added-comment" *ngIf="mostRecentReview">
    <h2>Most recent comment</h2>
    <hr class="line">
    <p class="review-date">Added {{mostRecentReview.reviewDate}}</p>
    <p>{{mostRecentReview.reviewComment}}</p>
  </div>
</div>

<div class="list-wrapper">
  <div class="list-contacts">
    <div *ngFor="let product of viewList">
      <app-product-description
        [Product]="product"
        (mostRecentData)="getMostRecentData($event)"
      >
        <span productName>{{product.name}}</span>

        <ng-container category>
          <span>{{product.category}}</span>
        </ng-container>

        <ng-container price>
          <span *ngIf="product.price && product.price === 0"></span>
          <span *ngIf="product.price && product.price !== 0">Price: {{product.price}}€</span>
        </ng-container>

        <ng-container stock>
          <span *ngIf="product.stockCount === 0" class="sold-out">Sold Out</span>
          <span *ngIf="product.stockCount > 0">Stock: {{product.stockCount}}x</span>
        </ng-container>

        <ng-container *ngIf="product.description && product.description.length" description>
          <h2>Description</h2>
          <hr>
          <span>{{product.description}}</span>
        </ng-container>

        <ng-container vendors>
          <div class="wrapper">
            <ng-container *ngFor="let vendor of product.vendors">
              <div *ngIf="vendor.stockCount > 0" class="vendor">{{vendor.name}}</div>
            </ng-container>
          </div>
        </ng-container>

      </app-product-description>
    </div>
  </div>
</div>




