.vendor {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: bold;
  background-color: brown;
  width: fit-content;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, [col-start] fit-content(200px) [col-end]);
  gap: 10px;
}

h2 {
  color: brown;
}

hr {
  border: 0.5px solid brown;
}
