<div *ngFor="let product of productList">
  <app-product-description [reviews]="product.reviews">
    <span productName>{{product.name}}</span>

    <ng-container category>
      <span>{{product.category}}</span>
    </ng-container>

    <ng-container price>
      <span *ngIf="product.price && product.price === 0"></span>
      <span *ngIf="product.price && product.price !== 0">Price: {{product.price}}€</span>
    </ng-container>

    <ng-container stock>
      <span *ngIf="product.stockCount === 0" class="sold-out">Sold Out</span>
      <span *ngIf="product.stockCount > 0">Stock: {{product.stockCount}}x</span>
    </ng-container>

    <ng-container *ngIf="product.description && product.description.length" description>
      <h2>Description</h2>
      <hr>
      <span>{{product.description}}</span>
    </ng-container>


      <ng-container vendors>
        <div class="wrapper">
          <ng-container *ngFor="let vendor of product.vendors">
            <div *ngIf="vendor.stockCount > 0" class="vendor">{{vendor.name}}</div>
          </ng-container>
        </div>
      </ng-container>

  </app-product-description>
</div>


