// text color
$text-color:  #140b08;

// text area color
$light-gray: #f5f5f5;

// main app color
$main-primary-color: brown;
$main-secondary-color: #a15a5a;
$main-accent-color: #ebc1a7;
$main-side-nav-color: #962727;
$scroll-bar-color: #741f1f;
$underline-color: $main-side-nav-color;
$main-primary-background-color: white;
$main-paginator-container-color: white;

 //secondary app color
//$main-primary-color: #0292b5;
//$main-secondary-color: #ffb508;
//$main-accent-color: #eec999;
//$main-side-nav-color: #00a6cf;
//$scroll-bar-color: #00728d;
//$underline-color: $main-primary-color;
//$main-primary-background-color: $light-gray;
//$main-paginator-container-color: $light-gray;

// width: 100px / 1000px * 100% = ? WTF...


