// main app color

$main-primary-color: brown;
$main-secondary-color: #a15a5a;
$main-accent-color: #ebc1a7;
$main-side-nav-color: #962727;
$underline-color: $main-side-nav-color;
$main-primary-background-color: white;

//$main-primary-color: #f19618;
//$main-secondary-color: #f6b36a;
//$main-accent-color: #eec999;
//$main-side-nav-color: #d98d21;
//$underline-color: $main-side-nav-color;
//$main-primary-background-color: white;

// text color
$text-color:  #140b08;
