@import './src/app/stylesheets/colors';

%center-content {
  display: flex;
  justify-content: center;
  height: 100vh;
}

%button-submit-hover {
  color: #fff;
  background-color: $main-primary-color;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

%button-twenty-eight {
  -webkit-appearance: none;
  background-color: $main-primary-color;
  border-radius: $border-radius-size;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 10px;
  font-weight: 600;
  line-height: normal;
  min-height: 35px;
  min-width: 0;
  outline: none;
  padding: 5px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 276px;
  will-change: transform;
  border: 1px solid $main-primary-color;

  .button-28:disabled {
    pointer-events: none;
  }

  .button-28:hover {
    color: $main-primary-color;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
  }
}
