// border radius size global
$border-radius-size: 5px;

// image size of the tap to top icon
$image-back-top-size: 35px;

// hamburger icon size
$hamburger-size: 25px;

// image search size
$image-search-size: 20px;
