@import './src/styles';

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
}

button {
  margin-right: 5px;
}

.title {
  display: flex;
  justify-content: center;
}
