<h2>About project</h2>

<h1 mat-dialog-title>Angular training project.</h1>
<mat-dialog-content class="mat-typography">

  <p>
    This project was created with the purpose of becoming familiar with the web application development in Angular.
  </p>

  <p>
    Mainly the project does not have any big idea to get make life easier it is only a rudimentary webshop app that
    basically imitates a shopping cart feature,
    showing a list of products and statistics of sold products and so on. There were used some most commonly used
    Angular topics and solutions that let me discover some new features on how to use them generally for different aims.
  </p>

  <p>
    This application is literally for only educational purposes where were used a lot of angular stuff and solutions
    which let me understand a little bit more about this framework.
  </p>

  <p>
    The project is using topics such as components, interpolation, property binding, event binding, template reference
    variables, two way binding, structural directives, modal dialogs, angular material, pipes, services,
    dependency injection, routing and navigation, life cycle hooks, modules, observables, forms, rxjs.
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Ok, got it!</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Close</button>
</mat-dialog-actions>
