@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import './src/styles';

h4 {
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.product-footer {
  background-color: $main-primary-color;
  padding: 1px 0;
  position: relative;
  width: 100%;
  bottom: 0;
}

.product-bottom {
  margin: 15px;
}

.footer-row {
  display: flex;
  flex-wrap: wrap;
}

.footer-column {
  width: 50%;
  padding: 0 15px;
}

.footer-column h4 {
  font-size: 14px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

.footer-column h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: white;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-column ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-column ul li a {
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  color: white;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
}

.footer-column ul li a:hover {
  padding-left: 8px;
}

.social-links {
  float: right;
  margin-top: 100px;
}

.ng-fa-icon.icon-hover-highlight:hover {
  color: $main-primary-color;
}

.footer-column .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  transition: all 0.5s ease;
}


ul {
  list-style: none;
}

/*responsive*/
 @media (max-width: 767px) {
   .footer-column {
     width: 50%;
   }

   .social-links {
     float: left;
     margin-top: 100px;
   }
 }

@media (max-width: 570px) {
  .social-links {
    float: left;
    margin-top: 50px;
  }
}

@media (max-width: 574px) {
  .footer-column {
    width: 100%;
  }
}
