<footer class="product-footer">
  <div class="product-bottom">
    <div class="footer-row">
      <div class="footer-column">
        <h4>Contact</h4>
        <ul>
          <li><p>Bernard Kaminski</p></li>
          <li><p>bernardkaminski.bk@gmail.com</p></li>
          <li><p>+4210956874254</p></li>
          <li><p (click)="openAboutDialog()">About project</p></li>
        </ul>
      </div>
      <div class="footer-column">
        <div class="social-links">
          <a href="https://www.facebook.com/">
            <fa-icon
              class="icon-hover-highlight"
              [icon]="facebookIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
          <a href="https://www.instagram.com/">
            <fa-icon
              [icon]="instaIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
          <a href="https://github.com/">
            <fa-icon
              [icon]="gitIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
          <a href="https://www.linkedin.com/">
            <fa-icon
              [icon]="dinIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
