<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>Contact</h4>
        <ul>
          <li><a href="#">Bernard Kaminski</a></li>
          <li><a href="#">bernardkaminski.bk@gmail.com</a></li>
          <li><a href="#">+4210956874254</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <div class="social-links">
          <a href="https://www.facebook.com/">
            <fa-icon
              class="icon-hover-highlight"
              [icon]="facebookIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
          <a href="https://www.instagram.com/">
            <fa-icon
              [icon]="instaIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
          <a href="https://github.com/">
            <fa-icon
              [icon]="gitIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
          <a href="https://www.linkedin.com/">
            <fa-icon
              [icon]="dinIcon"
              [styles]="{ stroke: 'white', color: 'white' }"
              size="2x"
            ></fa-icon>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
