@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  Top: 0;
}

nav {
  background-color: brown;
  padding: 10px;
}

h2 {
  color: white;
  float: left;
  font-family: "Poppins", sans-serif;
  font-size: 26px;
}

nav img {
  width: 70px;
  float: left;
  margin-inline-end: 25px;
}

.logo {
  display: inline-block;
}

nav ul {
  float: right;
  list-style-type: none;
}

ul li {
  display: inline-block;
  padding: 10px;
  margin-top: 5px;
  margin-right: 50px;
  font-size: 16px;
}

ul li a {
  box-shadow: inset 0 0 0 0 brown;
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

ul li a:hover {
  box-shadow: inset 100px 0 0 0 white;
  color: brown;
}
