<nav class="header">
  <div class="nav-menu">
    <a href="">
      <div routerLink="/" class="logo">
        <img class="logo"
             alt="logo"
             src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg"
        />
        <h2>{{ name }}</h2>
      </div>
    </a>

    <div class="menu">
      <app-shopping-cart-badge></app-shopping-cart-badge>

      <div class="menu-btn">

        <div (click)="inputSideNav.toggle()" class="menu-btn_burger">
          <img
            alt="menu"
            src="assets/IMG/menu-4-48.png"
          />
        </div>

      </div>
    </div>
  </div>
</nav>
