@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.header {
  position: relative;
  width: 100%;
  Top: 0;
}

nav {
  background-color: brown;
}

h2 {
  color: white;
  float: left;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  margin-top: 25px;
}

nav img {
  margin-top: 10px;
  margin-left: 10px;
  width: 50px;
  float: left;
  margin-inline-end: 25px;
}

.logo {
  display: inline-block;
}

.menu-btn {
  float: right;
  margin-top: 20px;
  margin-left: 20px;
}

.menu-btn_burger img {
  width: 25px;
  height: 25px;
}
