@import './src/styles';

.center {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}

.owner-name {
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: brown;
  font-weight: bold;
  width: fit-content;
  margin-left: 25px;
}

.title {
  display: flex;
  flex-direction: column;
  color: $main-primary-color;
  font-weight: bold;
  font-size: 25px;
  margin-top: 40px;
  margin-left: 45px;
}

.admin-buttons {
  display: flex;
  margin-top: 60px;
}

button {
  margin-left: 15px;
}

.button-28 {
  @extend %button-twenty-eight;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: $main-primary-color;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

h2 {
  color: $main-primary-color;
  font-size: 18px;
}

hr {
  @include bordered(0.5px, $main-primary-color);
  height: 1px;
  border-width: 0;
  background-color: brown;
  margin-left: 45px;
  margin-right: 50px
}

.sold-out {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: bold;
  background-color: $main-primary-color;
  width: fit-content;
}

img {
  width: 40px;
  height: 40px;
}

.list-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 50px;
}

.empty-list {
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 150px;
}

@media(max-width: 1212px) {
  .center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    flex-direction: column;
  }
}

@media(max-width: 966px) {
  .admin-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 15px;
    flex-direction: column;
  }

  button {
    margin-bottom: 15px;
  }

  hr {
    margin-left: 15px;
    margin-right: 15px
  }
}

@media(max-width: 560px) {
  hr {
    margin-left: 15px;
    margin-right: 15px
  }
}

