<h1 mat-dialog-title>Add new Product</h1>

<div mat-dialog-content>
  <form [formGroup]="productGroup">

    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="productName" matInput placeholder="Name">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category" placeholder="Category">
        <mat-option *ngFor="let mockCategory of mockCategories" value="{{mockCategory}}">{{mockCategory}}</mat-option>
      </mat-select>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input type="number" formControlName="price" matInput placeholder="Price">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>StockCount</mat-label>
      <input type="number" formControlName="stockCount" matInput placeholder="stock count">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sold Last Month</mat-label>
      <input type="number" formControlName="quantitySoldLastMonth" matInput placeholder="Sold Last Mont">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Sold Whole Period</mat-label>
      <input type="number" formControlName="quantitySoldWholePeriod" matInput placeholder="Sold Whole Period">
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <form *ngIf="reviewGroup" id="reviewsForm" [formGroup]="reviewGroup">
      <div class="container" formArrayName="reviews">
        <div class="input-row" *ngFor="let item of reviewArray().controls;last as isLast, let index=index">
          <mat-form-field>
            <mat-label>Reviews</mat-label>
            <input matInput formControlName="{{index}}">
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeFromFormArray(reviewArray(), index)" *ngIf="reviewArray().length  > 1">
            <mat-icon>remove_circle</mat-icon>
          </button>
          <button mat-icon-button color="primary" *ngIf="isLast" (click)="addToFormArray(reviewArray())">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
    </form>

    <form *ngIf="vendorGroup" id="vendorsForm" [formGroup]="vendorGroup">
      <div class="container" formArrayName="vendors">
        <div class="input-row" *ngFor="let item of vendorArray().controls;last as isLast, let index=index">
          <mat-form-field>
            <mat-label>Vendors</mat-label>
            <input matInput formControlName="{{index}}">
          </mat-form-field>
          <button mat-icon-button color="warn" (click)="removeFromFormArray(vendorArray(), index)" *ngIf="vendorArray().length  > 1">
            <mat-icon>remove_circle</mat-icon>
          </button>
          <button mat-icon-button color="primary" *ngIf="isLast" (click)="addToFormArray(vendorArray())">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
      </div>
    </form>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" placeholder="description"></textarea>
    </mat-form-field>

  </form>
</div>

<div mat-dialog-action [align]="'end'">
  <button mat-button mat-dialog-close (click)="addProduct()">Add</button>
  <button mat-button mat-dialog-close>Close</button>
</div>
