@import './src/styles';

.loader-container {
  position: fixed;
  width: 100%;
  z-index: 99;
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #c7a4a4;
}

::ng-deep .mat-progress-bar-buffer {
  background: brown;
}

::ng-deep .mat-progress-bar {
  border-radius: 2px;
}
