<div *ngIf="loaderService.isLoading | async" class="loader-container">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>
<app-header [inputSideNav]="sideNav"></app-header>

<mat-sidenav-container>

  <mat-sidenav #sideNav mode="push" position="end">
    <app-side-nav (click)="sideNav.toggle()"></app-side-nav>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <app-back-to-top></app-back-to-top>
  </mat-sidenav-content>

</mat-sidenav-container>

<app-footer></app-footer>


