@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.main-product {
  border-radius: 5px;
  width: 600px;
  background-color: brown;
  margin: 25px;
  position: relative;
}

.title {
  width: auto;
  height: 80px;
  margin-top: 80px;
  background-color: white;
  padding: 15px;
}

h2 {
  color: brown;
}

.column-product {
  font-size: 15px;
  margin-left: 55px;
  margin-top: 5px;
  float: left;
}

.column-category {
  float: right;
  margin-right: 55px;
}

.column-price {
  margin-left: 18px;
  float: left;
  color: brown;
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}

.column-stock {
  float: right;
  margin-right: 80px;
  color: brown;
  font-weight: bold;
  font-size: 18px;
  margin-top: 48.5px;
}

.column-category h2 {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  background-color: brown;
}

.column-description .row-description {
  padding: 15px;
}

.row-description {
  padding: 15px;
}

.row-vendors {
  padding: 15px;
}

hr {
  border: 0.5px solid brown;
}

.row-description p {
  font-size: 14px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  margin: 3px 3px 3px 113px;
  width: 483px;
  border-radius: 0 0 5px 0;
  background-color: white;
  position: relative;
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
}
