@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@import './src/styles';

*{
  margin-bottom:0;
  box-sizing: border-box;
  //font-family: 'Montserrat', sans-serif;
}

.wrapper{
  margin-top: 100px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_box{
  background: $main-primary-color;
  position: relative;
  padding: 2px;
  border-radius: 5px;
  display: flex;
  width: 270px;
}

.search_box .search_btn{
  width: 30px;
  height: 30px;
  border-radius: $border-radius-size;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $main-primary-color;
  margin-right: 2px;
  cursor: pointer;
}

.search_box .input_search{
  outline: none;
  border: 0;
  background: white;
  border-radius: $border-radius-size;
  padding: 15px 20px;
  width: 234px;
  height: 30px;
  color: $main-primary-color;
  font-size: 14px;
  font-weight: bold;
}

@media (max-width: 400px) {
  .search_box{
    width: 235px;
    margin-left: 10px;
  }
  .search_box .input_search{
    width: 199px;
  }
}


::placeholder {
  color: $main-primary-color;
}

::-webkit-input-placeholder {
  color: $main-primary-color;
}

:-ms-input-placeholder {
  color: $main-primary-color;
}

.img-search-resize {
  height: $image-search-size;
  width: $image-search-size;
}
