<div id="gallery" style="display:none;">

  <ng-container *ngFor="let image of _gallery">
    <img alt="{{image.title}}"
         src="{{image.url}}">
  </ng-container>

  <!--  error NG8002: Can't bind to 'description' since it isn't a known property of 'img'.-->
  <!--  <ng-container *ngFor="let image of _gallery">-->
  <!--    <img alt="{{image.title}}"-->
  <!--         src="{{image.url}}"-->
  <!--         data-image="{{image.url}}"-->
  <!--         data-description="{{image.description}}">-->
  <!--  </ng-container>-->

</div>

