@import './src/styles';

h2 {
  color: $main-primary-color;
  font-size: 14px;
}

hr {
  @include bordered(0.5px, $main-primary-color);
}

ul {
  list-style: none;
  margin: 5px;
  padding: 5px;
}

li {
  font-size: 10px;
  margin-bottom: 10px;
}

ul li::before {
  content: "\2022";
  color: $main-primary-color;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.review-row {
  padding: 15px;
}

.textarea-wrapper {
  max-width: 409px;
  max-height: 120px;
  min-width: 257px;
  min-height: 70px;
  font-family: sans-serif;
  font-size: double(6px);
  border-color: $main-primary-color;
  background-color: $light-gray;
  margin: 25px 0 25px 0;
  border-radius: 5px;
}

textarea {
  padding: 10px;
  resize: none;
  border: 1px solid $main-primary-color;
}

textarea:focus {
  outline: none !important;
  border: 2px solid $main-primary-color;
}

.button-28 {
  @include button-submit($border-radius-size, 10px, 35px, 5px, 24px);
  border: 1px solid $main-primary-color;
  margin-bottom: 20px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  @extend %button-submit-hover;
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}

@media(max-width: 400px) {
  .textarea-wrapper {
    min-width: 215px;
  }
}

@media(max-width: 366px) {
  .textarea-wrapper {
    min-width: 176px;
  }
}
