<div class="center">
  <div #main class="main-product">

    <div class="main-top">
      <button (click)="deleteProduct()">Delete</button>
      <div (click)="navigateToProductDetail()" class="product_detail_btn">
        <a class="details-button">Details</a>
      </div>

      <div class="offset-style">
        x: {{offSetLeftProduct}} y: {{offSetTopProduct}}
      </div>
    </div>

    <div class="title">

      <div class="row">
        <div class="column-product">
          <h2>
            <ng-content select="[productName]"></ng-content>
          </h2>
        </div>
        <div class="column-category">
          <h2>
            <ng-content select="[category]"></ng-content>
          </h2>
        </div>
      </div>

    </div>

    <div class="content">

      <div class="row">
        <div class="column-price">
          <ng-content select="[price]"></ng-content>
        </div>
        <div class="column-stock">
          <ng-content select="[stock]"></ng-content>
        </div>
      </div>

      <div class="row-description">
        <div class="column-description">
          <ng-content select="[description]"></ng-content>
        </div>
      </div>

      <div class="row-vendors">
        <h2>Vendors</h2>
        <hr>
        <div class="column-vendor">
          <ng-content select="[vendors]"></ng-content>
        </div>
      </div>

      <app-review [inputProduct]="product"
                  (mostRecentReview)="getMostRecentData($event)"></app-review>

      <button *ngIf="product.price && product.stockCount" (click)="addProductToShoppingCart()" class="button-28">Add to cart</button>
    </div>

  </div>
</div>
