/* You can add global styles to this file, and also import other style files */
@import './app/stylesheets/global';

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: $scroll-bar-color;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $scroll-bar-color;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-primary-color;
  border-radius: 5px;
}

/* Handle on hover */
//::-webkit-scrollbar-thumb:hover {
//  background: gray;
//}

.mat-drawer-container {
  background-color: $main-primary-background-color;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
