/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
}

.sold-out {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: bold;
  background-color: brown;
  width: fit-content;
}
