@import './src/styles';

h1, h2 {
  color: $main-primary-color;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 14px;
  margin-bottom: -16px;
}

p {
  font-size: 12px;
}

ul {
  list-style: none;
  font-size: 12px;
}

ul li::before {
  content: "\2022";
  color: $main-primary-color;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

hr {
  border: 0.5px solid $main-primary-color;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.vendor {
  border-radius: $border-radius-size;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: bold;
  margin: 5px;
  background-color: $main-primary-color;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
}

.sold-out {
  border-radius: 5px;
  padding: 5px 15px 5px 15px;
  color: white;
  font-weight: bold;
  background-color: $main-primary-color;
  width: fit-content;
}

.main-product {
  margin-top: 50px;
  border-radius: $border-radius-size;
  width: 600px;
  background-color: white;
  @include bordered(2px, $main-primary-color);
  position: relative;
  padding: 25px;
}

@media(max-width: 675px) {
  .main-product {
    margin-top: 50px;
    width: 500px;
  }
}

@media(max-width: 585px) {
  .main-product {
    margin-top: 50px;
    width: 400px;
  }
}

@media(max-width: 450px) {
  .main-product {
    width: 360px;
  }

  @media(max-width: 400px) {
    .main-product {
      width: 300px;
    }
  }
}

@media(max-width: 380px) {
  .main-product {
    width: 280px;
  }
}

.center {
  display: grid;
  justify-content: center;
  align-items: center;
}

.button-28 {
  @include button-submit($border-radius-size, 12px, 30px, 13px, 24px);
  @include bordered(2px, $main-primary-color);
  margin-top: 20px;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  @extend %button-submit-hover;
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
}
