<div class="center">
  <div class="main-product" *ngIf="product">

    <div *ngIf="product.images">
      <app-gallery [data]="product.images"></app-gallery>
    </div>

    <app-product-description
      [Product]="product"
      [showDelete]="false"
      [showDetails]="false"
      [showEdit]="hideEdit"
      [showReview]="true"
      [showAddComment]="hideAddComment"
      [showAddButton]="hideAddButton">

      <span productName>{{ product.name }}</span>

      <ng-container category>
        <span>{{ product.category }}</span>
      </ng-container>

      <ng-container price>
        <span *ngIf="product.price && product.price === 0"></span>
        <span *ngIf="product.price && product.price !== 0"
        >Price: {{ product.price }}€</span>
      </ng-container>

      <ng-container stock>
        <span *ngIf="product.stockCount === 0" class="sold-out">Sold Out</span>
        <span *ngIf="product.stockCount > 0">Stock: {{ product.stockCount }}x</span>
      </ng-container>

      <ng-container
        *ngIf="product.description && product.description.length" description>
        <h2>Description</h2>
        <hr/>
        <span>{{ product.description }}</span>
      </ng-container>

      <ng-container vendors>
        <div class="wrapper">
          <ng-container *ngFor="let vendor of product.vendors">
            <div *ngIf="vendor.stockCount > 0" class="vendor">
              {{ vendor.name }}
            </div>
          </ng-container>
        </div>
      </ng-container>
    </app-product-description>

    <button (click)="goBack()" class="button-28">Back</button>
  </div>
</div>
