<div class="center">
  <div class="main-product" *ngIf="product">
    <h1>Product detail:</h1>

    <h2>Product Name:</h2>
    <p>{{product.name}}</p>
    <h2>Id:</h2>
    <p>{{product.id}}</p>
    <h2>UUID:</h2>
    <p>{{product.uuid}}</p>
    <h2>Category:</h2>
    <p>{{product.category}}</p>
    <h2> Price:</h2>
    <p>{{product.price}} Eur</p>
    <h2>StockCount:</h2>
    <p> {{product.stockCount}}</p>
    <h2> Description:</h2>
    <p>{{product.description}}</p>

    <hr>

    <h2>Vendors:</h2>
    <div *ngFor="let vendor of product.vendors">
      <ul>
        <li>{{vendor.name}}</li>
      </ul>
    </div>

    <hr>

    <h2>Reviews:</h2>
    <div *ngFor="let review of product.reviews">
      <ul>
        <li>{{review}}</li>
      </ul>
    </div>
  </div>

  <button (click)="goBack()" class="button-28">Back</button>

  <!--  <button (click)="navigateTo()" class="button-28">Navigate to</button>-->
</div>
