<div class="table-first">

  <div class="title">
    <h1>Last sales states</h1>
  </div>

  <div class="form-field">
    <mat-form-field>
      <input (keyup)="applyFilterFirstTable($event)" matInput placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="center">
    <table mat-table [dataSource]="tableSourceFirst" matSort #firstTableMatSort="matSort" class="mat-elevation-z8">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <!-- stockCount Column -->
      <ng-container matColumnDef="stockCount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Stock count</th>
        <td mat-cell *matCellDef="let product"> {{product.stockCount}} </td>
      </ng-container>

      <!-- quantitySoldLastMonth Column -->
      <ng-container matColumnDef="quantitySoldLastMonth">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Quantity Sold Last Month</th>
        <td mat-cell *matCellDef="let product"> {{product.quantitySoldLastMonth}} </td>
      </ng-container>

      <!-- quantitySoldWholePeriod Column -->
      <ng-container matColumnDef="quantitySoldWholePeriod">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Quantity Sold Whole Period</th>
        <td mat-cell *matCellDef="let product"> {{product.quantitySoldWholePeriod}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsFirst"></tr>
      <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumnsFirst;"></tr>
    </table>
  </div>

  <div class="form-field">
    <mat-paginator #paginatorFirst [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div class="table-second">

  <div class="title">
    <h1>Cash flow states</h1>
  </div>

  <div class="form-field">
    <mat-form-field>
      <input (keyup)="applyFilterSecondTable($event)" matInput placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="center">
    <table mat-table [dataSource]="tableSourceSecond" matSort #secondTableMatSort="matSort" class="mat-elevation-z8">

      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- price Column -->
      <ng-container matColumnDef="price">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Price</th>
        <td mat-cell *matCellDef="let product"> {{product.price}} </td>
      </ng-container>

      <!-- stockCount Column -->
      <ng-container matColumnDef="stockCount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Stock count</th>
        <td mat-cell *matCellDef="let product"> {{product.stockCount}} </td>
      </ng-container>

      <!-- CashFlowLastMonth Column -->
      <ng-container matColumnDef="CashFlowLastMonth">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Cash Flow Last Month</th>
        <td mat-cell *matCellDef="let product"> {{product.cashFlowLastMonth}} </td>
      </ng-container>

      <!-- CashFlowLastMonth Column -->
      <ng-container matColumnDef="CashFlowWholePeriod">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Cash Flow Whole Period</th>
        <td mat-cell *matCellDef="let product"> {{product.cashFlowWholePeriod}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsSecond"></tr>
      <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumnsSecond;"></tr>
    </table>
  </div>

  <div class="form-field">
    <mat-paginator #paginatorSecond [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div class="table-third">

  <div class="title">
    <h1>Suggesting to order</h1>
  </div>

  <div class="form-field">
    <mat-form-field>
      <input (keyup)="applyFilterThirdTable($event)" matInput placeholder="Filter">
    </mat-form-field>
  </div>

  <div class="center">
    <table mat-table [dataSource]="tableSourceThird" matSort #thirdTableMatSort="matSort" class="mat-elevation-z8">
      <!-- id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let product"> {{product.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let product"> {{product.name}} </td>
      </ng-container>

      <!-- stockCount Column -->
      <ng-container matColumnDef="stockCount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Stock count</th>
        <td mat-cell *matCellDef="let product"> {{product.stockCount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsThird"></tr>
      <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumnsThird;"></tr>
    </table>
  </div>

  <div class="form-field">
    <mat-paginator #paginatorThird [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>

  <div class="general-statistics">
    <div class="title">
      <h1>General sale statistics</h1>
    </div>
    <div class="cards">
      <mat-card>
        <mat-card-title>
          Total cash flow <br> last month
        </mat-card-title>
        <mat-card-content>
          {{ totalCashFlowByLastMonth }} EUR
        </mat-card-content>
      </mat-card>

      <mat-card>
        <mat-card-title>
          The Total amount of <br> cash flow whole period
        </mat-card-title>
        <mat-card-content>
          {{ totalCashFlowByWholePeriod }} EUR
        </mat-card-content>
      </mat-card>

      <ng-container *ngIf="totalCashFlowByLastMonth != 0 ">
        <mat-card>
          <mat-card-title>
            The Average price <br> of sold products
          </mat-card-title>
          <mat-card-content>
            {{ avgPriceSoldProducts }} EUR
          </mat-card-content>
        </mat-card>
      </ng-container>

      <ng-container *ngIf="mostSoldProductName">
        <mat-card>
          <mat-card-title>
            Most sold product
          </mat-card-title>
          <mat-card-content>
            {{ mostSoldProductName }}
          </mat-card-content>
        </mat-card>
      </ng-container>
    </div>
  </div>

</div>

<div class="table-fourth">

  <div class="title">
    <h1>Vendors by products</h1>
  </div>

  <div class="form-field-select">
    <mat-form-field>
      <input (keyup)="applyFilterFourthTable($event)" matInput placeholder="Filter">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>{{selected}}</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="fillFourthTableWithContent()">
        <mat-option *ngFor="let product of products" [value]="product">{{product.name}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="center">
    <table mat-table [dataSource]="tableSourceFourth" matSort #fourthTableMatSort="matSort" class="mat-elevation-z8">

      <!-- name Column -->
      <ng-container matColumnDef="vendor">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Vendor </th>
        <td mat-cell *matCellDef="let vendor"> {{vendor.name}} </td>
      </ng-container>

      <!-- stockCount Column -->
      <ng-container matColumnDef="stockCount">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Stock Count</th>
        <td mat-cell *matCellDef="let vendor"> {{vendor.stockCount}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumnsFourth"></tr>
      <tr mat-row (click)="logData(row)" *matRowDef="let row; columns: displayedColumnsFourth;"></tr>
    </table>
  </div>

  <div class="form-field">
    <mat-paginator #paginatorFourth [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</div>



